﻿body
{

margin:0;
padding:3;
color:#000;

background:#FFFFFF;


}




#head{

height:80px;
width:1200px;
align: center;
background-color:white;
background-repeat:no-repeat;

/*background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(61,64,68,1) 100%);  /*  Ultimate CSS Gradient Generator   http://www.colorzilla.com/gradient-editor/  */
/*background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(61,64,68,1) 100%); */
/*background:#2D6093;

/*background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(53,106,160,1)), color-stop(100%,rgba(53,106,160,1))); /* Chrome,Safari4+ 
background: -webkit-linear-gradient(left, rgba(53,106,160,1) 0%,rgba(53,106,160,1) 100%); /* Chrome10+,Safari5.1+ */
margin: 0 auto;



border-radius: 5px;


}

#component_title{
	background:#2D6093;
	width :350px;
	border-radius: 5px;
	align: center;
	opacity:0.9;
}
#component_img{
	background:#2D6093;
	width :53px;
	height:52px;

	border-radius: 5px;
	align: center;
	margin-left:10px;
	padding-right:1px;
	padding-top:4px;
	opacity:0.9;
}

#component_login{
	
	background: #6AA4C1;
	box-shadow: 3px 3px 5px #888888;
	width :280px;
	height:100px;
	padding-left:10px;
	padding-right:10px;
	padding-top:15px;
	border-radius: 15px;
	align: center;
	opacity:0.9;
	font-family:trebuchet ms;
	color: #FFFFFF;
	
}	
.form_div{
	
	margin-bottom:20px; 
	margin-top:10px; 
	padding-bottom:22px; 
	padding-left:22px; 
	padding-top:1px; 
	border-radius: 15px; 
	background: #f1f1f1;
	color: #FFFFFF;
	border: 1px solid #ccc;

	
}	
.active_calendar{
	
	background: #6AA4C1;
	box-shadow: 2px 2px 2px #888888;
	width :415px;
	height:25px;
	padding-left:10px;
	padding-right:10px;
	padding-top:5px;
	border-radius: 5px;
	align: center;
	opacity:0.9;
	font-family:trebuchet ms;
	color: #FFFFFF;
	
}	
#component_submit_map{
	
	background:#2D6093;
	width :740px;
	height:53px;
	padding-left:10px;
	padding-top: 0px;
	margin-top: 0px;
	border-radius: 30px;
	align: center;
	opacity:0.9;
	font-family:trebuchet ms;
	color: #FFFFFF;
	
}	
	
	
	
}
img{
	/*border-radius: 2px;*/
}
img.header{
	border-radius: 5px;
}



hr.footer{

display:block;
width:870px;
height: 1px;
/*background: -moz-linear-gradient(left, rgba(197,197,201,1) 0%, rgba(42,43,43,1) 48%, rgba(197,197,201,1) 100%); /* FF3.6+ */
/*background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(197,197,201,1)), color-stop(48%,rgba(42,43,43,1)), color-stop(100%,rgba(197,197,201,1)));*/

background: #E3E3E3;
margin-top: 0px;
margin-bottom: 0px;
border: 0px;
}



font.footer{
font-size: 11px;
font-family: trebuchet ms;
font-weight: bold;
color: #1B3951;
}

font.about{
font-size: 12px;
font-family: trebuchet ms;
/*font-weight: bold;*/
color: #1B3951;
text-align: left;
}

font.head_large{
	font-size: 14px;
}

font.head_small{
	font-size: 13px;
}

table.information{
	position: inherit;
	top:0px;
	
}

table.header {

		position:relative;

		width:980px;

		border-collapse:seperate;
		border: 0px;

		margin-right=5px;
		margin-top:0px;

		color: #F8F8FF ;
		opacity:0.9;

		/*background: -moz-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(214,214,214,1) 37%, rgba(237,237,237,1) 86%, rgba(255,255,255,1) 100%); 
		background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(37%,rgba(214,214,214,1)), color-stop(86%,rgba(237,237,237,1)), color-stop(100%,rgba(255,255,255,1))); */
		
}

tr.header,td.header{
	
border-collapse:separate;
border: 0px;
background: #2D6093;
color: #F8F8FF;
text-align: -webkit-center;
border-radius: 5px;


}

table.main_menu{
border:0px solid;
border-collapse:collapse;
margin-top:0px;
}


table.sub_menu{
position:relative;
width:90%;
border-collapse:collapse;
border:0px  dotted #303030 ;
color:#303030;

background: -moz-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(214,214,214,1) 37%, rgba(237,237,237,1) 86%, rgba(255,255,255,1) 100%); 
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(37%,rgba(214,214,214,1)), color-stop(86%,rgba(237,237,237,1)), color-stop(100%,rgba(255,255,255,1))); 

}

tr.sub_menu,td.sub_menu{

border-collapse:collapse;
border:0px  dotted #303030 ;
text-align: -webkit-center;

}

hr.sub_menu{

display:block;
dorder: 0px;
width:99%;
height: 2px;
background: #2D6093;
}


td.logo{
float: left,up;
width:50;
height:50;
background-color:white;
}t

a.right
{
float:right;
padding:5px;
background: -webkit-linear-gradient(top, rgba(63,76,107,1) 0%,rgba(63,76,107,1) 100%); 
}


a.left{
float:left;
padding:5px;
border:0px;
}



p.title{
float:center;
text-align:center;
padding:0px;
color: #FFFFFF;

}




.view
{
font-family:trebuchet ms;
width:80%;
border-collapse:collapse;
}
.view td, #view th 
{
font-size:14px;
border:1px solid #AFEEEE;
padding:7px 7px 4px 7px;
}
.view th 
{
font-size:15px;
text-align:left;
padding-left:7px;
padding-top:2px;
background-color:#AFEEEE;
color:#303030;
}


.view tr.odd{
color:#303030;
background-color:#CCFFFF;

}

.view tr.even{
color:#303030;
background-color:white;
}

a.logout{
position: relative;
float:right;
font-weight: bold; 
color: #CCFFFF;
align: center;
margin-top:5px;
margin-right:5px;
padding-top: 0 px;
padding-left: 7px;
padding-right: 7px;
opacity:0.5;



background: #F8F8FF;
border-radius: 50px;
}

.checkbox, .radio {
	width: 19px;
	height: 25px;
	padding: 0 5px 0 0;
	background: url(checkbox.png) no-repeat;
	display: block;
	clear: left;
	float: left;
}

h2{
	font-family:trebuchet ms;
	color: #1B3951;
}
h3{
	font-family:trebuchet ms;
	color: #1B3951;
}
h4{
	font-family:trebuchet ms;
	color: #1B3951;
}
h5{
	font-family:trebuchet ms;
	color: #1B3951;
}
form{
	font-family:trebuchet ms;
	color: #1B3951;
}

a{
	font-family:trebuchet ms;
}
#ver-minimalist
{
	font-family: trebuchet ms;
	font-size: 12px;
	
	width: 480px;
	text-align: left;
	border-collapse: collapse;
	background:#F8F8FF;
	position:relative;
	margin-left:auto;
	margin-right:auto;
}
#ver-minimalist th
{
	padding: 8px 2px;
	font-weight: normal;
	font-size: 14px;
	border-bottom: 2px solid #2D6093;
	/*border-right: 30px solid #fff;
	border-left: 30px solid #fff;*/
	color: #1B3951;
}
#ver-minimalist td
{
	padding: 12px 2px 0px 2px;
	/*border-right: 30px solid #fff;
	border-left: 30px solid #fff;*/
	color: #275C75;
}



#ver-minimalist-2
{
	font-family: trebuchet ms;
	font-size: 12px;
	
	width: 800px;
	text-align: left;
	border-collapse: collapse;
	background:#F8F8FF;
	position:relative;
	margin-left:auto;
	margin-right:auto;
}
#ver-minimalist-2 th
{
	padding: 8px 2px;
	font-weight: normal;
	font-size: 14px;
	border-bottom: 2px solid #6678b1;
	/*border-right: 30px solid #fff;
	border-left: 30px solid #fff;*/
	color: #039;
}
#ver-minimalist-2 td
{
	padding: 12px 2px 0px 2px;
	/*border-right: 30px solid #fff;
	border-left: 30px solid #fff;*/
	color: #669;
}


#ver-minimalist-3
{
	vertical-align:text-top;
	font-family: trebuchet ms;
	font-size: 12px;
	
	width: 220px;
	text-align: left;
	border-collapse: collapse;
	background:#F8F8FF;
	position:relative;
	margin-left:auto;
	margin-right:auto;
}
#ver-minimalist-3 th
{
	
	padding: 8px 2px;
	font-weight: normal;
	font-size: 14px;
	border-bottom: 2px solid #6678b1;
	/*border-right: 30px solid #fff;
	border-left: 30px solid #fff;*/
	color: #039;
}
#ver-minimalist-3 tr:hover td
{
	color: white;
	/*border-right: 30px solid #fff;
	border-left: 30px solid #fff;*/
	background-color: #2D6093;
	opacity:0.9;
}
#ver-minimalist-3 td
{
	padding: 12px 2px 0px 2px;
	/*border-right: 30px solid #fff;
	border-left: 30px solid #fff;*/
	color: #669;
}

#one-column-emphasis
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 45px;
	width: 480px;
	text-align: left;
	border-collapse: collapse;
}
#one-column-emphasis th
{
	font-size: 14px;
	font-weight: normal;
	padding: 12px 15px;
	color: #039;
}
#one-column-emphasis td
{
	padding: 10px 15px;
	color: #669;
	border-top: 1px solid #e8edff;
}
.oce-first
{
	background: #d0dafd;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
}
#one-column-emphasis tr:hover td
{
	color: #339;
	background: #eff2ff;
}


#box-table-a
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 10px;
	width: 450px;
	text-align: left;
	border-collapse: collapse;
	border-radius: 5px;
}
#box-table-a th
{
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	background: #b9c9fe;
	border-top: 4px solid #aabcfe;
	border-bottom: 1px solid #fff;
	color: #039;
}
#box-table-a td
{
	padding: 8px;
	background: #e8edff; 
	border-bottom: 1px solid #fff;
	color: #669;
	border-top: 1px solid transparent;
}

form {
	display: block;
}

td.form_subheader{
	width:400px;
}
input.button {
    background: transparent url('bg_button_a.gif') no-repeat scroll top right;
    color: #444;
    display: block;
    float: left;
    font: normal 12px arial, sans-serif;
    height: 24px;
    margin-right: 6px;
    padding-right: 18px; /* sliding doors padding */
    text-decoration: none;
}

input.button span {
    background: transparent url('bg_button_span.gif') no-repeat;
    display: block;
    line-height: 14px;
    padding: 5px 0 5px 18px;
}
input.button:active {
    background-position: bottom right;
    color: #000;
    outline: none; /* hide dotted outline in Firefox */
}

input.button:active span {
    background-position: bottom left;
    padding: 6px 0 4px 18px; /* push text down 1px */
}

input.button1 {
    background: transparent url('bg_button_a.gif') no-repeat scroll top right;
    color: #444;
    display: block;
	position: relative;
    float: center;
    font: normal 12px arial, sans-serif;
    height: 24px;
    margin-right: 6px;
    padding-right: 18px; /* sliding doors padding */
    text-decoration: none;
}

input.button1 span {
    background: transparent url('bg_button_span.gif') no-repeat;
    display: block;
    line-height: 14px;
    padding: 5px 0 5px 18px;
}
input.button1:active {
    background-position: bottom right;
    color: #000;
    outline: none; /* hide dotted outline in Firefox */
}

input.button1:active span {
    background-position: bottom left;
    padding: 6px 0 4px 18px; /* push text down 1px */
}
a.menu:link    { display:block; text-decoration: none; font-size: 13px; font-weight: bold; color:#F8F8FF;}
a.menu:visited {text-decoration: none; font-size: 13px; font-weight: bold; color:#F8F8FF;}
a.menu:hover   { 
	/*text-decoration: none; font-size: 13px; font-weight: bold; 
	background: #F8F8FF;
	border-radius: 5px; color:#2D6093;*/
	 display:block; text-decoration: none; font-size: 13px; font-weight: bold; color:#F8F8FF;
}
a.menu:active  {text-decoration: none; font-size: 13px; font-weight: bold; color:#F8F8FF;}



a.logout:link    { display:block; text-decoration: none; color:#2D6093;}
a.logout:visited {text-decoration: none; color:#2D6093;}
a.logout:hover   { text-decoration: none;   background-color:none;  color:#2D6093;}
a.logout:active  {text-decoration: none; color:#2D6093;}


table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url(img/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(img/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(img/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}

/*-----------------------------------------*/

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
border: 1px solid #d3d3d3;
background: #e6e6e6 url(images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
font-weight: normal;
color: #555555;
}
table.tablesorter thead tr th {
background-repeat: no-repeat;
background-position: center right;
cursor: pointer;
white-space: normal;
font-weight: bold !important;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
border-collapse: collapse;
font-size: 8pt;
padding: 4px;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
-moz-border-radius-bottomright: 4px;
-webkit-border-bottom-right-radius: 4px;
-khtml-border-bottom-right-radius: 4px;
border-bottom-right-radius: 4px;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
-moz-border-radius-bottomleft: 4px;
-webkit-border-bottom-left-radius: 4px;
-khtml-border-bottom-left-radius: 4px;
border-bottom-left-radius: 4px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
-moz-border-radius-topright: 4px;
-webkit-border-top-right-radius: 4px;
-khtml-border-top-right-radius: 4px;
border-top-right-radius: 4px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
-moz-border-radius-topleft: 4px;
-webkit-border-top-left-radius: 4px;
-khtml-border-top-left-radius: 4px;
border-top-left-radius: 4px;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
border: 1px solid #d3d3d3;
background: #e6e6e6 url(images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
font-weight: normal;
color: #555555;
}
.ui-widget-header {
border: 1px solid #aaaaaa;
background: #cccccc url(images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x;
color: #222222;
font-weight: bold;
}



.ui-widget .ui-widget {
font-size: 1.0em;
}
table.tablesorter {
font-family: arial;
font-size: 8pt;
text-align: left;
}
.ui-widget-content {
color: #222222;
}
.ui-widget {
font-family: Verdana,Arial,sans-serif;
font-size: 0.7em;
}
user agent stylesheettable {
border-collapse: separate;
border-spacing: 2px;
border-color: gray;
}

.ui-widget-content {
color: #222222;
}

.ui-tabs {
zoom: 1;
}
.ui-widget-content {
color: #222222;
}
.ui-widget {
font-family: Verdana,Arial,sans-serif;
font-size: 0.7em;
}